/* Makes the canvas stick to (0, 0) */
/* html, body {
    margin: 0;
    padding: 0;
} */


/* Makes the canvas centered on the page */
canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.center { text-align:center;
  color: rgb(255, 255, 255);
  text-decoration: none;

  }
   .center a {
      text-decoration: none;
      color: rgb(255, 255, 255);
   }
   p{letter-spacing:2px}
   h2{letter-spacing:10px}
   div { display:flex; justify-content: center;}
  body {font-family:'Garamond', Times, serif,Times, serif;
   /* background-image: url(img_4870.jpg); */
   /* background-repeat: no-repeat; */
   background-size: cover;}
   #news {
      font-size: 100px;}
   /* Basic styles */
.slider {
width: 80%; /* Adjust as needed */
margin: 20px auto;
position: relative;
}

.slider input[type="range"] {
width: 100%;
-webkit-appearance: none;
appearance: none;
height: 20px; /* Adjust height as needed */
background: transparent;
}

.slider input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 40px; /* Adjust thumb size as needed */
height: 40px; /* Adjust thumb size as needed */
background: #3498db; /* Adjust thumb color as needed */
cursor: pointer;
}

.slider input[type="range"]::-moz-range-thumb {
width: 100px; /* Adjust thumb size as needed */
height: 40px; /* Adjust thumb size as needed */
background: #3498db; /* Adjust thumb color as needed */
cursor: pointer;
}

.slider input[type="range"]::-ms-thumb {
width: 40px; /* Adjust thumb size as needed */
height: 40px; /* Adjust thumb size as needed */
background: #3498db; /* Adjust thumb color as needed */
cursor: pointer;
}
 